@import "../../mainStyles/_library.less";
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @color-light; 
	color: @color-grey;
	.main_container {
		margin: 0 auto;
		padding: 1.45rem 1.0875rem;
		h1 {
			margin: 0;
			.title {
				color: @color-light;
				text-decoration: none;
			}
        }
        h3 {
			margin: 0;
			.description {
				color: @color-grey;
				text-decoration: none;
			}
		}
	}
}