@import "../../mainStyles/_library.less";

header {
	background: @color-red;
	margin-bottom: 1.45rem;
	.header_container {
		margin: 0 auto;
		padding: 1.45rem 1.0875rem;
		h1 {
			margin: 0;
			.title {
				color: @color-light;
				text-decoration: none;
			}
		}
		.nav_menu {
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
		.nav_list {
			display: flex;
			justify-content: flex-start;
			list-style-type: none;
			margin: 0;
			li {
				margin: 0;
				.nav_Item {
					color: @color-light;
					font-size: 0.9rem;
					margin-right: 1.3rem;
					text-decoration: none;
				}
				.nav_Item:hover {
					color: @color-white;
				}
				.active_nav_Item {
					color: @color-white;
					text-decoration: underline;
				}
			}
		}
		.languages {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}