@import "../../mainStyles/_library.less";

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, 'Alegreya Sans', sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  text-align: center; 
  font-size: 2.25rem;
  line-height: 1.1;
}

.developers_content {
  .developer_block {
    border: 1px solid black;
    .developer_photo {
      background: no-repeat 50% / cover;
      padding-top: 150px;
    }
  }
}