main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e5dd;
  color: #696464;
}
.main_container .main_description h2 {
  text-align: left;
  margin-bottom: 1rem;
}
.main_container .main_description p {
  text-align: justify;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
}
