@import '../../mainStyles/_library.less';

.directorOfDay_container {
	color: @color-light;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 0 1% 0;
	height: 100%;
	background: @color-orange;
	@media only screen and (max-width: 991px) {
		margin: 0 0 5% 0;
	}
	@media only screen and (max-width: 768px) {
		border-radius: 0px;
	}
	.directorOfDay_title_container {
		background: @color-red;
		padding: 1% 2.6% 1% 2.6%;
		h2 {
			color: @color-light;
			margin: 0;
		}
		@media only screen and (max-width: 768px) {
			text-align: center;
			h2 {
				font-size: 2rem;
			}
		}
		@media only screen and (max-width: 310px) {
			justify-content: center;
			h2 {
				font-size: 2.0rem;
			}
		}
	}
	.directorOfDay_content_container {
		padding: 20px 5px;
		.nameBlock {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			h2 {
				margin: 0 0 3% 0;
				font-size: 1.8rem;
				text-align: left;
				color: @color-light;
				vertical-align: text-top;
			}
			p {
				color: darken(@color-light, 20%)
			}
			.descriptionBlockDekstop{
        text-align: center;
        background: @color-red;
        border-radius: 5px;
        padding: 10px 0px;
        border: 2px solid transparent;
        &:hover {
          background: lighten(@color-red, 20%);
          border: 2px solid lighten(@color-red, 40%);
          transition: ease-in .3s;
          cursor: pointer;
        }
        transition: ease-in .3s;
      }
      .contentButton {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 1.38rem;
        color: @color-light;
        &:hover {
          text-decoration: none;
        }
        @media only screen and (max-width: 768px) {
          // padding: 1.5% 20%;
        }
      }
			@media only screen and (max-width: 768px) {
				text-align: center;
				h2{
					text-align: center;
				}
			}
		}
		.descriptionBlockMobile {
      .descriptionBlockMobileButtonContainer{
        text-align: center;
        background: @color-red;
        border-radius: 5px;
        padding: 10px 0px;
        border: 2px solid transparent;
        &:hover {
          background: lighten(@color-red, 20%);
          border: 2px solid lighten(@color-red, 40%);
          transition: ease-in .3s;
          cursor: pointer;
        }
        transition: ease-in .3s;
      }
			display: none;
			h4 {
				margin: 0 0 15px 0;
			}
			.directorOfDay_content-btn {
				display: flex;
				justify-content: center;
			}
			@media only screen and (max-width: 768px) {
				h4 {
					margin-top: 20px;
					text-align: justify;
					font-size: 1.8rem;
				}
			}
		}
		@media only screen and (max-width: 768px) {
			.nameBlock h4 {
				display: none;
			}
			.descriptionBlockMobile {
				display: block;
			}
			.descriptionBlockDekstop {
				display: none;
			}
		}
	}
	.directorOfDay_container_content_img_resize {
		text-align: right;
		overflow: hidden;
		@media only screen and (max-width: 768px) {
			width: 60%;
			margin: 0 auto;
		}
		img {
			width: 100%;
		}
	}
}
